{{- if .Values.sedaiBeyla.enabled }}
---
# Source: beyla/templates/service.yaml
apiVersion: v1
kind: Service
metadata:
  name: sedai-beyla
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: sedai-beyla
    {{- include "sedai-smart-agent.labels" . | nindent 4 }}
    {{- with .Values.globalLabels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- with .Values.globalAnnotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: ClusterIP
  ports:
    - name: metrics
      port: 80
      protocol: TCP
      targetPort: {{ .Values.sedaiBeyla.port }}
  selector:
    app.kubernetes.io/name: sedai-beyla
{{- end }}