{{- if .Values.sedaiNodeExporter.enabled }}
---
# Source: prometheus-node-exporter/templates/service.yaml
apiVersion: v1
kind: Service
metadata:
  name: sedai-prometheus-node-exporter
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: prometheus-node-exporter
    {{- include "sedai-smart-agent.labels" . | nindent 4 }}
    {{- with .Values.globalLabels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- with .Values.globalAnnotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  annotations:
    prometheus.io/scrape: "true"
spec:
  type: ClusterIP
  ports:
    - port: {{ .Values.sedaiNodeExporter.port }}
      targetPort: {{ .Values.sedaiNodeExporter.port }}
      protocol: TCP
      name: metrics
  selector:
    app.kubernetes.io/name: prometheus-node-exporter
{{- end }}