{{- if .Values.smartAgentEnroll.enabled }}
---
apiVersion: v1
kind: Secret
metadata:
  name: "{{ .Values.workload.smartAgentEnroll.name }}-secret"
  namespace: {{ .Release.Namespace }}
  labels:
    {{- with .Values.globalLabels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- if .Values.globalAnnotations }}
  annotations:
    "helm.sh/hook": pre-install,post-upgrade
    "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded,hook-failed
    "helm.sh/hook-weight": "-1"
    {{- toYaml .Values.globalAnnotations | nindent 4 }}
  {{- else }}
  annotations:
    "helm.sh/hook": pre-install,post-upgrade
    "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded,hook-failed
    "helm.sh/hook-weight": "-1"
  {{- end }}
type: Opaque
stringData:
  SEDAI_BASE_URL: {{ .Values.sedaiIntegrationSettings.sedaiBaseUrl }}
  {{- if .Values.sedaiIntegrationSettings.sedaiApiToken }}
  SEDAI_API_TOKEN: {{ .Values.sedaiIntegrationSettings.sedaiApiToken }}
  {{- end }}
  CLUSTER_PROVIDER: {{ .Values.sedaiIntegrationSettings.clusterProvider }}
  CLUSTER_NAME: {{ .Values.sedaiIntegrationSettings.clusterName }}
  NICK_NAME: {{ .Values.sedaiIntegrationSettings.nickName }}

  {{- if .Values.monitoringProvider.sedaiManagedPrometheus.enabled }}
  SEDAI_MANAGED_PROMETHUES_MP: ENABLED
  SEDAI_PROMETHEUS_ENDPOINT: "http://{{ .Values.workload.prometheus.name }}-service"
  {{- end }}  

  {{- if .Values.monitoringProvider.prometheus.enabled }}
  NON_MANAGED_PROMETHUES_MP: ENABLED  
  PROMETHEUS_ENDPOINT: "{{ .Values.monitoringProvider.prometheus.serverUrl }}"
  CREDENTIALS_PROVIDER: "{{ .Values.monitoringProvider.prometheus.credentialsProvider }}"
  {{- if .Values.monitoringProvider.prometheus.prometheusUsername }}
  PROMETHEUS_USERNAME: "{{ .Values.monitoringProvider.prometheus.prometheusUsername }}"
  {{- end }}
  {{- if .Values.monitoringProvider.prometheus.prometheusPassword }}
  PROMETHEUS_PASSWORD: "{{ .Values.monitoringProvider.prometheus.prometheusPassword }}"
  {{- end }}
  {{- if .Values.monitoringProvider.prometheus.prometheusjwtToken }}
  PROMETHEUS_BEARER_TOKEN: "{{ .Values.monitoringProvider.prometheus.prometheusjwtToken }}"
  {{- end }}
  {{- end }}

  {{- if .Values.monitoringProvider.mimir.enabled }}
  MIMIR_MP: ENABLED  
  MIMIR_ENDPOINT: "{{ .Values.monitoringProvider.mimir.serverUrl }}"
  MIMIR_CREDENTIALS_PROVIDER: "{{ .Values.monitoringProvider.mimir.credentialsProvider }}"
  {{- if .Values.monitoringProvider.mimir.mimirUsername }}
  MIMIR_USERNAME: "{{ .Values.monitoringProvider.mimir.mimirUsername }}"
  {{- end }}
  {{- if .Values.monitoringProvider.mimir.mimirPassword }}
  MIMIR_PASSWORD: "{{ .Values.monitoringProvider.mimir.mimirPassword }}"
  {{- end }}
  {{- if .Values.monitoringProvider.mimir.mimirjwtToken }}
  MIMIR_BEARER_TOKEN: "{{ .Values.monitoringProvider.mimir.mimirjwtToken }}"
  {{- end }}
  {{- end }}

  {{- if or .Values.sedaiGrafanaAlloy.enabled .Values.sedaiVictoriaMetrics.enabled }}
  VICTORIAMETRICS_MP: ENABLED
  VICTORIAMETRICS_ENDPOINT: "http://sedai-victoria-metrics-server:8428"
  VICTORIAMETRICS_CREDENTIALS_PROVIDER: "FEDERATEDPROMETHEUS_NO_AUTH"
  {{- end }}

  {{- if .Values.monitoringProvider.victoriaMetrics.enabled }}
  VICTORIAMETRICS_MP: ENABLED
  VICTORIAMETRICS_ENDPOINT: "{{ .Values.monitoringProvider.victoriaMetrics.serverUrl }}"
  VICTORIAMETRICS_CREDENTIALS_PROVIDER: "{{ .Values.monitoringProvider.victoriaMetrics.credentialsProvider }}"
  {{- if .Values.monitoringProvider.victoriaMetrics.victoriaMetricsUsername }}
  VICTORIAMETRICS_USERNAME: "{{ .Values.monitoringProvider.victoriaMetrics.victoriaMetricsUsername }}"
  {{- end }}
  {{- if .Values.monitoringProvider.victoriaMetrics.victoriaMetricsPassword }}
  VICTORIAMETRICS_PASSWORD: "{{ .Values.monitoringProvider.victoriaMetrics.victoriaMetricsPassword }}"
  {{- end }}
  {{- if .Values.monitoringProvider.victoriaMetrics.victoriaMetricsjwtToken }}
  VICTORIAMETRICS_BEARER_TOKEN: "{{ .Values.monitoringProvider.victoriaMetrics.victoriaMetricsjwtToken }}"
  {{- end }}
  {{- end }}

  {{- if .Values.monitoringProvider.datadog.enabled }}
  DATADOG_MP: ENABLED
  DATADOG_ENDPOINT: "{{ .Values.monitoringProvider.datadog.datadogEndpoint }}"
  DATADOG_ENV_DIMENSIONS: "{{ .Values.monitoringProvider.datadog.datadogEnvDimensions }}"
  {{- if not .Values.monitoringProvider.datadog.datadogSecret }}
  DATADOG_API_KEY: "{{ .Values.monitoringProvider.datadog.datadogApiKey }}"
  DATADOG_APPLICATION_KEY: "{{ .Values.monitoringProvider.datadog.datadogApplicationKey }}"
  {{- end }}
  {{- end }}  

  {{- if .Values.monitoringProvider.newrelic.enabled }}
  NEWRELIC_MP: ENABLED
  NEWRELIC_API_KEY: "{{ .Values.monitoringProvider.newrelic.newrelicApiKey }}"
  NEWRELIC_ACCOUNT_ID: "{{ .Values.monitoringProvider.newrelic.newrelicAccountId }}"
  NEWRELIC_API_SERVER: "{{ .Values.monitoringProvider.newrelic.newrelicApiServer }}"
  {{- end }}  

  {{- if .Values.monitoringProvider.amp.enabled }}
  AMP_MP: ENABLED
  AMP_ENDPOINT: "{{ .Values.monitoringProvider.amp.amp_query_endpoint }}"
  AMP_ROLE_ARN: "{{ .Values.monitoringProvider.amp.amp_iam_role }}"
  AMP_EXTERNAL_ID: "{{ .Values.monitoringProvider.amp.amp_iam_role_external_id }}"
  {{- end }}  

  {{- if .Values.monitoringProvider.gcpMonitoring.enabled }}
  GCP_MP: ENABLED
  GCP_PROJECT_ID: "{{ .Values.monitoringProvider.gcpMonitoring.projectID }}"
  {{- if .Values.monitoringProvider.gcpMonitoring.serviceAccountKeyJson }}
  GCP_SERVICE_ACCOUNT_KEY_JSON: {{ .Values.monitoringProvider.gcpMonitoring.serviceAccountKeyJson | fromJson | toJson | quote }}
  {{- end }}
  {{- end }}

  {{- if .Values.monitoringProvider.dynatrace.enabled }}
  DYNATRACE_MP: ENABLED
  DYNATRACE_ENVIRONMENT_ID: "{{ .Values.monitoringProvider.dynatrace.dynatraceEnvironmentID }}"
  DYNATRACE_API_KEY: "{{ .Values.monitoringProvider.dynatrace.dynatraceApiKey }}"
  DYNATRACE_PLATFORM_TOKEN: "{{ .Values.monitoringProvider.dynatrace.dynatracePlatformToken }}"
  {{- end }}
  
  {{- if .Values.proxySettings.enabled }}
  PROXY_HOST: "{{ .Values.proxySettings.proxyHost }}"      
  PROXY_PORT: "{{ .Values.proxySettings.proxyPort }}"      
  PROXY_USERNAME: "{{ .Values.proxySettings.proxyUsername }}"      
  PROXY_PASSWORD: "{{ .Values.proxySettings.proxyPassword }}"    
  {{- end }}
  
  FORCE_CREATE: "{{ .Values.sedaiIntegrationSettings.forceCreate }}"
  SEDAI_SYNC_ENABLED: "{{ .Values.sedaiSync.enabled }}"

  {{- if .Values.sedaiNodeExporter.enabled }}
  SEDAI_NODE_EXPORTER_ENABLED: ENABLED
  {{- end }}

  {{- if .Values.sedaiBeyla.enabled }}
  SEDAI_BEYLA_ENABLED: ENABLED
  {{- end }}

{{- end }}                 