{{- if .Values.sedaiDcgmExporter.enabled }}
---
# Source: dcgm-exporter/templates/resourcequota.yaml
apiVersion: v1
kind: ResourceQuota
metadata:
  name: sedai-dcgm-allow-critical-priority
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "sedai-smart-agent.labels" . | nindent 4 }}
    {{- with .Values.globalLabels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- with .Values.globalAnnotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  scopeSelector:
    matchExpressions:
    - scopeName: PriorityClass
      operator: In
      values:
      - system-node-critical
  hard:
    pods: "50"
{{- end }}