{{- if .Values.sedaiDcgmExporter.enabled }}
---
# Source: dcgm-exporter/templates/configmap.yaml
apiVersion: v1
kind: ConfigMap
metadata:
  name: "{{ .Values.workload.dcgmExporter.name }}-metrics-config-map"
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "sedai-smart-agent.labels" . | nindent 4 }}
    {{- with .Values.globalLabels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- with .Values.globalAnnotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
data:
  metrics: |
      # Format
      # If line starts with a '#' it is considered a comment
      # DCGM FIELD, Prometheus metric type, help message
      
      # Only metrics that are kept by Prometheus scrape configuration
      
      # GPU Temperature
      DCGM_FI_DEV_GPU_TEMP, gauge, GPU temperature (in C).
      
      # Power Usage
      DCGM_FI_DEV_POWER_USAGE, gauge, Power draw (in W).
      
      # Encoder/Decoder Utilization
      DCGM_FI_DEV_ENC_UTIL, gauge, Encoder utilization (in %).
      DCGM_FI_DEV_DEC_UTIL, gauge, Decoder utilization (in %).
      
      # Memory Copy Utilization
      DCGM_FI_DEV_MEM_COPY_UTIL, gauge, Memory utilization (in %).
      
      # Memory usage
      DCGM_FI_DEV_FB_FREE, gauge, Framebuffer memory free (in MiB).
      DCGM_FI_DEV_FB_USED, gauge, Framebuffer memory used (in MiB).
      
      # DCP/Profiling metrics
      DCGM_FI_PROF_GR_ENGINE_ACTIVE,   gauge, Ratio of time the graphics engine is active.
      DCGM_FI_PROF_SM_ACTIVE,          gauge, The ratio of cycles an SM has at least 1 warp assigned.
      DCGM_FI_PROF_SM_OCCUPANCY,       gauge, The ratio of number of warps resident on an SM.
      DCGM_FI_PROF_PIPE_TENSOR_ACTIVE, gauge, Ratio of cycles the tensor (HMMA) pipe is active.
      DCGM_FI_PROF_DRAM_ACTIVE,        gauge, Ratio of cycles the device memory interface is active sending or receiving data.
      DCGM_FI_PROF_PIPE_FP64_ACTIVE,   gauge, Ratio of cycles the fp64 pipes are active.
      DCGM_FI_PROF_PIPE_FP32_ACTIVE,   gauge, Ratio of cycles the fp32 pipes are active.
      DCGM_FI_PROF_PIPE_FP16_ACTIVE,   gauge, Ratio of cycles the fp16 pipes are active.
      DCGM_FI_PROF_PCIE_TX_BYTES,      counter, The number of bytes of active pcie tx data including both header and payload.
      DCGM_FI_PROF_PCIE_RX_BYTES,      counter, The number of bytes of active pcie rx data including both header and payload.
{{- end }}